doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title BienesRaíces |220773|#{page}
        link(rel="stylesheet", href="/css/app.css")
    body(style="background-color: #B8B8FF;") 
        main(class="mx-auto container mt-10 px-2",style="background-color: #B8B8FF;")
            block contenido